$("#number-follower-<%= @user.id %>").html("<a href=''>"
					+ "<strong><%= @user.followers.count %></strong> "
					+ "<%= 'Follower'.pluralize(@user.followers.count) %>"
					+ "</a>");

$("#follow-form-<%= @user.id %>").html("<%= escape_javascript(render('users/unfollow')) %>");