$(".number-follower-<%= @user.id %>").html("<a href=''>"
			+ "<strong><%= @user.followers.count %></strong> "
			+ "<%= 'Follower'.pluralize(@user.followers.count) %>"
			+ "</a>");

$(".number-following-<%= current_user.id %>").html(
			"<a href='#following-modal' data-toggle='modal'" 
			+ "data-target='#following-modal'>"
			+ "<strong><%= current_user.following.count %></strong> "
			+ "<%= 'Following'.pluralize(current_user.following.count) %>"
			+ "</a>");

$(".following").html(
			"<%= 'Following'.pluralize(current_user.following.count) %><br>"
			+ "<strong><%= current_user.following.count %></strong> ");

$(".follow-form-<%= @user.id %>").html("<%= escape_javascript(render('users/follow')) %>");