<% if current_user != @user %>
	$(".number-follower-<%= @user.id %>").html("<a href=''>"
					+ "<strong><%= @user.followers.count %></strong> "
					+ "<%= 'Follower'.pluralize(@user.followers.count) %>"
					+ "</a>");
<% else %>
	$(".number-following-<%= @user.id %>").html("<a href=''>"
					+ "<strong><%= @user.following.count %></strong> "
					+ "<%= 'Following'.pluralize(@user.following.count) %>"
					+ "</a>");
<% end %>
$(".follow-form-<%= @user.id %>").html("<%= escape_javascript(render('users/follow')) %>");