$("div#micropost-like-<%= @micropost.id %>").html(
	"<a data-remote='true' rel='nofollow'"
	+ "data-method='post' href='/likes?micropost_id=<%= @micropost.id %>'>"
	+ "<i class='fa fa-heart-o'></i>"
	+ "</a>"
	);
$("div#number-like-<%= @micropost.id %>")
	.html("<%= @micropost.likes.count %> <%= 'like'.pluralize(@micropost.likes.count) %>");