<div class="comments-list" style="display: none;">
	<%= render 'microposts/comments_list', micropost: micropost %>
</div>
<% if current_user == micropost.user %>
	<div class="setting" style="display: none;">
		<div class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><%= link_to "Delete", micropost, method: :delete %></li>
			</ul>
		</div>
	</div>
<% end %>
<div class="text-content" style="display: none;">
	<%= link_to micropost.user.name ,micropost.user %>
	<%= micropost.content %>
</div>
<div class="timestamp" style="display: none;">
	<%= time_ago_in_words(micropost.created_at) %>
</div>
<div class="number-like" style="display: none;">
	<%= micropost.likes.count %> 
	<%= "Like".pluralize(micropost.likes.count) %>
</div>