<div class="row">
	<div class="user">
		<div class="avatar">
			<% if @user.avatar? %>
				<%= link_to image_tag(@user.avatar.url), @user %>
			<% else %>
				<% if @user.gender == "Male" %>
					<%= link_to image_tag(@user.avatar.default_url("ava-default-male.jpg")), @user %>
				<% else %>
					<%= link_to image_tag(@user.avatar.default_url("ava-default-female.png")), @user %>
				<% end %>
			<% end %>
		</div>
		<div class="user-info">
			<div class="name"><%= link_to @user.name, @user %></div>
			<br>
			<div class="info-detail">
				<div class="number-post">
					<strong><%= @user.microposts.count %></strong> 
					<%= "Post".pluralize(@user.microposts.count) %>
				</div>
				<div class="number-follower number-follower-<%= @user.id %>">
					<a href="">
						<strong><%= @user.followers.count %></strong> 
						<%= "Follower".pluralize(@user.followers.count) %>
					</a>
				</div>
				<div class="number-following number-following-<%= @user.id %>">
					<a href="">
						<strong><%= @user.following.count %></strong> 
						<%= "Following".pluralize(@user.following.count) %>
					</a>
				</div>
			</div>
		</div>
		<div class="follow-form">
			<% if current_user != @user %>
				<%= render "follow_form" if logged_in? %>
			<% end %>
		</div>
	</div>
</div>