<% provide(:title, "All users") %>
<div class="index-users">
	<div class="container">
		<div class="search-filter">
			<div class="title">Users search</div>
			<%= form_tag users_path, method: "get" do %>
				<%= text_field_tag :search, nil, {placeholder: "Luna Lovegood"} %>
				<%= check_box_tag :dear_friend %>
				<%= label_tag :dear_friend %>
				<br>
				<%= check_box_tag :hot_friend %>
				<%= label_tag :hot_friend, "Hot friends" %>
				<br>
				<%= check_box_tag :hard_working %>
				<%= label_tag :hard_working, "Hard working friends" %>
				<br>
				<%= submit_tag "Search", class: "btn btn-primary" %>
			<% end %>
		</div>
		<div class="list-users">
			<div class="container">
				<% @users.each do |user| %>
					<% unless user.admin? %>
						<% @user = user %>
						<%= render @user %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>