<% provide(:title, @user.name) %>
<div class="container user-profile">
	<br><br>
	<div class="row">
		<div class="col-xs-4">
			<div class="avatar">
				<% if @user.gender == "Male" %>
					<img src="/assets/ava-default-male.jpg">
				<% else %>
					<img src="/assets/ava-default-female.png">
				<% end %>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="name-express">
				<div class="name"><%= @user.name %></div>
				<div class="config-area">
					<% if current_user?(@user) %>
						<%= link_to "Edit Profile", edit_user_path(current_user), id: "edit-profile-btn" %>
					<% else %>
						<%= render 'follow_form' if logged_in? %>
					<% end %>
				</div>
			</div>
			<div class="user-info-express">
				<div class="number number-post">
					<strong><%= @user.microposts.count %></strong> 
					<%= "Post".pluralize(@user.microposts.count) %>
				</div>
				<div class="number number-follower" id="number-follower-<%= @user.id %>">
					<a href="">
						<strong><%= @user.followers.count %></strong> 
						<%= "Follower".pluralize(@user.followers.count) %>
					</a>
				</div>
				<div class="number number-following" id="number-following-<%= @user.id %>">
					<a href="">
						<strong><%= @user.following.count %></strong> 
						<%= "Following".pluralize(@user.following.count) %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<% if @microposts.any? %>
		<% @microposts.each_with_index do |micropost, index| %>
			<% if index % 3 == 0 %>
				<div class="row pic-row">
					<% range = Range.new(index, index + 2) %>
					<% @microposts.each_with_index do |micropost, index1| %>
						<% if range.cover?(index1) %>
							<div class="col-xs-4 picture" data-id="<%= micropost.id %>">
								<%= image_tag micropost.picture.url %>
								<div class="img-info">
									<div class="number-like"><%= fa_icon "heart" %> 221</div>
									<div class="number-comment"><%= fa_icon "comment" %> 376</div>
								</div>
							</div>
						<% end %>	
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<div class="row">
			<div class="default-content">
				<img src="/assets/img-default.jpg">
				<div class="quote">
					Start capturing and sharing your moments.
					<br>Connecting people.
					<div class="branding-name">Anigram</div>
				</div>
			</div>
		</div>
	<% end %>
	<br>
	<div class="row">
		<div class="col-xs-3 col-xs-push-5">
			<% if @microposts.any? %>
				<button class="btn-load-more">Load more</button>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$(".btn-load-more").click(function(){
			$(this).hide();
			var last_post_id = $(".picture").last().attr("data-id");
			$.ajax({
				type: "GET",
				url: "<%= @user.id %>",
				data: {
					last_id: last_post_id
				},
				dataType: "json",
				success: function(data){
					if(data.length > 0){
						$(".btn-load-more").show();
						data.forEach(function(item, index){
							if(index % 3 == 0){
								$(".pic-row").last().after("<div class='row pic-row'></div>");
							}
							$(".pic-row").last().append(
								"<div class='col-xs-4 picture' data-id='" + item.id + "'>"
								+ "	<img src='" + item.picture.url + "'>"
								+ "	<div class='img-info'>"
								+ "	<div class='number-like'><i class='fa fa-heart'></i> 221</div>"
								+ "	<div class='number-comment'><i class='fa fa-comment'></i> 376</div>"
								+ " </div>"
								+ "</div>");
						});
						var last_post_id = $(".picture").last().attr("data-id");
						$.ajax({
							type: "GET",
							url: "<%= @user.id %>",
							data: {
								last_id: last_post_id
							},
							dataType: "json",
							success: function(data){
								if(data.length == 0){
									$(".btn-load-more").hide();
								}
							}
						});
					}
				}
			});
		});
	});
</script>