<li class="micropost" id="micropost-<%= micropost.id %>">
	<div class="head">
		<div class="avatar">
			<% if micropost.user.avatar? %>
				<%= link_to image_tag(micropost.user.avatar.url), micropost.user %>
			<% else %>
				<% if micropost.user.gender == "Male" %>
					<%= link_to image_tag(micropost.user.avatar.default_url("ava-default-male.jpg")), micropost.user %>
				<% else %>
					<%= link_to image_tag(micropost.user.avatar.default_url("ava-default-female.png")), micropost.user %>
				<% end %>
			<% end %>
		</div>
		<div class="user-name">
			<%= link_to micropost.user.name, micropost.user %>			
		</div>
		<div class="timestamp">
			<%= time_ago_in_words(micropost.created_at) %>
		</div>
		<% if current_user == micropost.user %>
			<div class="setting">
				<div class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Delete", micropost, method: :delete %></li>
					</ul>
				</div>
			</div>
		<% end %>
	</div>
	<div class="content">
		<div class="image-content">
			<%= image_tag micropost.picture.url if micropost.picture? %>
		</div>
		<div class="number-like" id="number-like-<%= micropost.id %>"><%= micropost.likes.count %> likes</div>
		<div class="text-content">
			<%= link_to micropost.user.name, micropost.user %> 
			<%= micropost.content %>
		</div>
	</div>
	<div class="comment">
		<div class="comment-form">
			<% if current_user.already_like?(micropost) %>
				<% @like = Like.where("user_id = ? and micropost_id = ?", current_user.id, micropost.id).first %>
				<div id="micropost-like-<%= micropost.id %>">
					<%= link_to like_path(id: @like.id), method: :delete, remote: true do %>
						<%= fa_icon "heart" %>
					<% end %>
				</div>
			<% else %>
				<div id="micropost-like-<%= micropost.id %>">
					<%= link_to likes_path(micropost_id: micropost.id), method: :post, remote: true do %>
						<%= fa_icon "heart-o" %>
					<% end %>
				</div>
			<% end %>
			<input type="text" placeholder="Add a comment..."></input>
		</div>
	</div>
</li>