<div class="head">
	<div class="avatar">
		<%= render 'microposts/avatar_display', micropost: micropost %>
	</div>
	<div class="user-name">
		<%= link_to micropost.user.name, micropost.user %>			
	</div>
	<div class="timestamp">
		<%= time_ago_in_words(micropost.created_at) %>
	</div>
	<%= render 'shared/setting_post', micropost: micropost %>
</div>
<div class="content">
	<div class="image-content">
		<%= image_tag micropost.picture.url if micropost.picture? %>
	</div>
	<div class="number-like" id="number-like-<%= micropost.id %>"><%= micropost.likes.count %> <%= "like".pluralize(micropost.likes.count) %></div>
	<div class="text-content">
		<% if micropost.content.length != 0%>
			<%= link_to micropost.user.name, micropost.user %> 
			<%= micropost.content %>
		<% end %>
	</div>
</div>
<div class="comment-section">
	<div class="comments-list">
		<%= render 'microposts/comments_list', micropost: micropost %>
	</div>
	<div class="comment-form">
		<%= render 'microposts/like_form', micropost: micropost %>
		<%= render 'microposts/comment_form', micropost: micropost %>
	</div>
</div>