<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<link rel="icon" type="image/png" href="/assets/icon.png">
		<%= render "layouts/rails_default" %>
		<%= render "layouts/shim" %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<% flash.each do |message_type, message| %>
			<div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
		<%= yield %>
	</body>
</html>
